@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;

  
}

.container {
  display: flex;
  flex-direction: column;
  

}


.header {
  display: flex;
  align-self:normal;
  justify-content:space-between;
  gap: 20px;
  margin-bottom: 200px;
  

  
}

.footer {
 
  display: flex;
  justify-content:space-between;
  align-items: center;
   background-color: #eeeeee;
   flex-shrink: 0;
   margin-top: auto;
  max-height: 50px;
   
   
}
.left-links{
  display: flex;
  gap:10px;
  padding: 18px;
  

}

.right-links {
  display: flex;
  gap:10px;
  padding: 18px;
}

.content {
  flex:1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: 8px;
  
}
img {
  width: 600px;
  margin-bottom: 10px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 10px;
}

ul{
  list-style-type:  none;
}

a{
  text-decoration: none;
  color: rgb(139, 139, 139)
}