
* {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 5px;
 
  
}

.content {
  background: #e3f4ff;
  margin: 10px auto;
  text-align: justify;
  margin: 10px;
  padding: 10px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 10px;
  padding: 10px;
 
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 5px;
  display: block;

  
}